# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
# /data1/ecezt/zk/data
dataDir={{ zkdata_dir }}
# /data1/ecezt/zk/log
dataLogDir={{ zklog_dir }}
# the port at which the clients will connect
clientPort=2181
server.{{ zk1myid }}={{ zk1server}}:2888:3888
server.{{ zk2myid }}={{ zk2server}}:2888:3888
server.{{ zk3myid }}={{ zk3server}}:2888:3888
